* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #020617;
  color: white;
}

/* Header */
header {
  padding: 20px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  background: linear-gradient(90deg, #7c3aed, #4f46e5);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

/* Layout */
.main {
  display: flex;
}

/* Products */
.products {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-right: 300px;
}

/* Card */
.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px) scale(1.03);
}

.card img {
  height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}

.card h3 {
  margin: 10px 0;
}

.card p {
  color: #22c55e;
  font-weight: bold;
}

.card button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 8px;
  background: linear-gradient(45deg, #22c55e, #16a34a);
  color: white;
  cursor: pointer;
}

.card button:hover {
  opacity: 0.9;
}

/* Cart */
.cart {
  width: 300px;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background: #0f172a;
  padding: 20px;
  border-left: 1px solid #1e293b;
}

.cart h2 {
  margin-bottom: 15px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e293b;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.cart-item small {
  color: #94a3b8;
}

.cart-controls {
  display: flex;
  gap: 5px;
}
